<h2>Edit article</h2>

<div>
    id: <%= @article.id %><br/>
    title: <%= @article.title %><br/>
    description: <%= @article.description %>
</div>

<div>
    <%= form_for @article do |f| %>
        <p>
            
            <%= f.label :title %><br/>
            <%= f.text_field :title %>
        </p>
        
        <p>
            <%= f.label :description %><br/>
            <%= f.text_area :description %>
        </p>
        
        <p>
            <%= f.submit %>
        </p>
    <% end %>
</div>


<%= link_to "Back to articles", articles_path %>